@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root {
  --background-color: white;
  --foreground-color: gray;
  --text-color: black;
  --accent-color: #b22222;
  --flame-shadow-light: 0 0 5px #eee, 0 0 10px #ccc, 0 0 15px #bbb,
    0 0 20px #aaa, 0 0 25px #999, 0 0 30px #888;
  --button-color: black;
}

.dark {
  --background-color: black;
  --foreground-color: darkgray;
  --text-color: white;
  --accent-color: #b22222;
  --flame-shadow-light: 0 0 5px #eee, 0 0 10px #ccc, 0 0 15px #bbb,
    0 0 20px #aaa, 0 0 25px #999, 0 0 30px #888;
  --button-color: rgb(37, 37, 37);
}

.flame-text {
  display: inline-block;
  color: white;
  text-shadow: var(--flame-shadow-light);
}

.flame-text:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #ff3, 0 0 15px #f90, 0 0 20px #f60,
    0 0 25px #f30, 0 0 30px #f00;
  transition: text-shadow 0.3s;
}

.flame-button {
  background-color: var(--button-color);
}

.flame-button:hover {
  box-shadow: 0 0 5px #fff, 0 0 10px #ff3, 0 0 15px #f90, 0 0 20px #f60,
    0 0 25px #f30, 0 0 30px #f00;
  transition: box-shadow 0.3s;
}

.flame-image:hover {
  box-shadow: 0 0 5px #fff, 0 0 10px #ff3, 0 0 15px #f90, 0 0 20px #f60,
    0 0 25px #f30, 0 0 30px #f00;
  transition: box-shadow 0.3s;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide {
    display: none;
}